.MultiSelect {
  /* width: 1000px; */
  width: 90%;
  border: 3px solid #171717;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  padding-top: 0;
}

.MultiSelect-selected-text {
  border: 1px solid #171717;
  border-radius: 1%;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
}

.MultiSelect-option {
  padding: 5px;
}

.MultiSelect-option input[type='checkbox'] {
  transform: scale(1.15);
  margin-right: 5px;
}

.MultiSelect button {
  margin-top: 12.5px;
  border-radius: 5%;
  padding: 5px;
  color: ghostwhite;
  background-color: #171717;
  font-weight: bolder;
}

.MultiSelect button:hover {
  cursor: pointer;
  color: #171717;
  background-color: ghostwhite;
}
